body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    text-align: center;
    padding-top: 200px;
}

input {
    padding: 10px;
    border-radius:
        5px;
    border:
        1px solid #ccc;
}

button {
    padding: 10px 20px;
    background: #e50914;
    color: white;
    border: none;
    cursor: pointer;
}

#resultado {
    font-weight: bold;
    margin-top: 20px;
    font-size: 1.2rem;
}

.vibe-terror {
  color: red;
  text-transform: uppercase;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.43);
}

.vibe-teen {
  color: #008cff;
  font-style: italic;
}

.vibe-kids {
  color: #32cd32;
  font-family: 'Comic Sans MS', cursive; /* Sim, o clássico! */
}